# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
next-env.d.ts

# typescript
*.tsbuildinfo

# testing
coverage/

# env
.env
.env*.local

# os / editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# vercel
.vercel
.env*
